@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: bold;
    user-select: none;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100% !important;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide-active {
    opacity: 1 !important;
    transform: scale(1.1) !important;
    /* Enlarge the active slide */
    transition: transform 0.3s ease !important;
}

@font-face {
    font-family: yekan;
    src: url(/fonts/Yekan.ttf);
}

@font-face {
    font-family: word;
    src: url(/fonts/bbd8448e056821340fd2bbf64eba980a.ttf);
}

@font-face {
    font-family: wordBold;
    src: url(/fonts/KALAMEHBOLD.TTF);
}

@font-face {
    font-family: regular;
    src: url(/fonts/KalamehRegular.ttf);
}

@font-face {
    font-family: bold;
    src: url(/fonts/bold.ttf);
}

@font-face {
    font-family: light;
    src: url(/fonts/IRANSansWebight.ttf);
}

.word {
    font-family: word !important;
}

.kalameh {
    font-family: wordBold !important;
}

.light {
    font-family: light !important;
}

.sansBold {
    font-family: bold;
}

.regular {
    font-family: regular !important;
}

.active,
.link-67 {
    width: 100%;
    color: #FFF;
    font-size: 15px;
    padding: 10px 10px;
    margin: 0 5px;
    position: relative;
    display: inline-block;
    transition: opacity 0.2s;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;
    font-family: bold;
}

.active:hover,
.link-67:hover {
    opacity: 1;
    margin-right: 10px;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    pointer-events: none;
    transition: all 0.3s;
    z-index: 49;
}

.active::before,
.active::after {
    content: "";
    position: absolute;
    background-color: #FFF;
    width: 3px;
    height: 80%;
    right: 0;
    transition: height 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#enFont {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.menuButton {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    width: 48px;
    height: 48px;
}

.menuBasis {
    flex-basis: 33.333333%;
    display: flex;
}

.link-67 {
    opacity: 0.7;
}

.subMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.active::after {
    top: 0;
}

.iconInsta:hover {
    background: radial-gradient(circle farthest-corner at 35% 100%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 10% 140%, #feda7e, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%) !important;
}

.subOrgMenu>span {
    transition: all 150ms;
}

.collectionSubMenu {
    transition: all 0.3s;
    opacity: 0.7;
    cursor: pointer;
    font-size: 14px;
    padding: -0px 25px;
    margin: 0 5px;
    padding-top: 8px;
}

.collectionSubMenu:hover {
    opacity: 1;
    margin-right: 10px;
}

@media (min-width: 1054px) {
    .navbar-space {
        margin-left: 30px !important;
    }
}

@media (min-width: 1110px) {
    .navbar-space {
        width: 620px !important;
    }

}

@media (min-width: 1160px) {
    .navbar-space {
        width: 680px !important;
        padding-right: 40px !important;
    }

    .navbar-logo {
        padding-right: 40px !important;
    }

    .basket {
        width: 230px !important;
    }

    .fontF {
        left: 180px !important;
    }

    .signIn {
        font-size: 16px !important;
    }

}


@media (min-width: 1240px) {
    .navbar-space {
        width: 730px !important;
    }

    .navbar-menu>li>a {
        padding: 0 15px !important;
    }

    .collectionMenu {
        width: 400px !important;
        height: 290px !important;
    }

    .collectionMenu>li>span {
        font-size: 17px;
    }
}

@media (min-width: 1280px) {
    .navbar-space {
        width: 770px !important;
    }

}
@media (min-width: 880px) {
    .thWidth {
        width: 130px !important;
    }
    .trWidth {
        width: 780px !important;
    }

}

@media (min-width: 1340px) {
    .navbar-space {
        width: 800px !important;
    }

    .navbar-menu>li>a {
        padding: 0 20px !important;
    }
}

@media (min-width: 1420px) {
    .navbar-logo {
        padding-right: 130px !important;
    }

    .mainHomePage {
        padding-right: 130px !important;
    }

    .collectionMenu {
        width: 420px !important;
        height: 300px !important;
    }

    .breadCrumb {
        height: 260px !important;
        margin-top: -140px;
    }
}

.isActive {
    color: #758BFD;
    opacity: 1;
    transition: all 0.3s;
}

.isActive::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 8px;
    background-color: #758BFD;
    bottom: 0;
    left: 15%;
    border-radius: 20px 20px 0px 0px;
}

.underEffect::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 8px;
    background-color: #758BFD;
    bottom: 0;
    left: 15%;
    border-radius: 20px 20px 0px 0px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

.underEffect:hover::after {
    visibility: visible;
    opacity: 1;
}

.underMenuCollect:hover .underCheck {
    rotate: 90deg;
}

.underMenuCollect:hover .subMenuCollect {
    opacity: 1;
    visibility: visible;
}

.mainHome::after {
    content: "";
    position: absolute;
    background-color: #758BFD;
    width: 80%;
    height: 80%;
    bottom: 0;
    border-radius: 70px;
    rotate: 70deg;
    z-index: 1;
}

@media (min-width: 768px) {
    .mainHome::after {
        height: 400px !important;
        width: 400px !important;
    }
}

@media (min-width: 1024px) {
    .mainHome::after {
        height: 350px !important;
        width: 350px !important;
    }
}
@media (min-width: 1030px) {
    .thWidth {
        width: 155px !important;
    }
    .trWidth {
        width: 930px !important;
    }
}
@media (min-width: 1290px) {
    .thWidth {
        width: 200px !important;
    }
    .trWidth {
        width: 1200px !important;
    }
}

@media (min-width: 1280px) {
    .mainHome::after {
        height: 500px !important;
        width: 500px !important;
    }
}

.titleBorder {
    height: 1px;
    width: 190px;
    background-color: #D8D6D6;
}

@media (max-width: 380px) {
    .titleBorder {
        width: 60px;
    }
}

@media (min-width: 500px) {
    .joinInput {
        flex-direction: row-reverse !important;
        border: 1px solid #fff !important;
        gap: 0px !important;
        background-color: white !important;
    }

    .joinInput>button {
        padding: 10px 10px !important;
    }
}
@media (min-width: 768px) {

    .joinInput>button {
        padding: 15px 20px !important;
    }
    .afterEffect::after {
        display: flex !important;
    }
}

@media (max-width: 768px) {
    .titleBorder {
        width: 60px;
    }
}

.fontF {
    font-family: yekan;
}

.bg-image {
    color: #ffffff;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(90deg, rgba(32, 48, 129, 0.8), rgba(32, 48, 129, 0.8)), url("/Images/box-bg.jpeg");
}

.afterEffect::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 25px;
    background-color: #758BFD;
    top: 25px;
    right: -3px;
    border-radius: 100px;
    display: none;
}

.boxEffect {
    color: #ffffff;
    background-position: right center;
    background-size: cover;
    background-image: url(/public/Images/box-bg-transparent.png), linear-gradient(90deg, #758bfd, #758bfd);
    padding: 60px;
    border-radius: 40px;
}

.backToTop {
    opacity: 1 !important;
    transition: all 0.3s ease-in;
    visibility: visible !important;
}

.NotFound {
    background-image: linear-gradient(#758bfd 0%, transparent 75%);
    background-clip: text;
    color: transparent !important;
}